h1 {
  background-image: url ("http://rs254.pbsrc.com/albums/hh119/Michael_Hogue/Animated%20GIF%20Library/Animated%20Dividers/dividers_1369.gif~c200");
}

.enter-button{
  margin-top: 10vh;
  display: block;
  color:  #267326;
  text-decoration: none;
  font-size:20px;
}
.splash { text-align: center;
  
}
.la {
  text-align: center;
}
.enter-button:hover {
  color: green;
  cursor: pointer;
}
