h1 {
  background-image: url ("https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjY9MvErf3KAhVO02MKHSI2C4oQjRwIBw&url=http%3A%2F%2Fwww.toptenpack.com%2Fbeautiful-rainbow-colors-wallpapers%2F&psig=AFQjCNFyIzLY2PMLRlxSsgIYAnxlkz4_VQ&ust=1455748925333900");
}

.enter-button{
  margin-top: 10vh;
  display: block;
  color:  #267326;
  text-decoration: none;
  font-size:20px;
}
.splash { text-align: center;
  
}
.la {
  text-align: center;
}
.enter-button:hover {
  color: green;
  cursor: pointer;
}
body {
  font-family:verdana;
}
